build-MobileRobot_Software-Desktop_Qt_5_4_1_MinGW_32bit-Debug/
MobileRobot_Embedded/MobileRobot_Embedded/Debug/
build-MobileRobot_Software-Desktop_Qt_5_5_1_MinGW_32bit-Debug/
build-MobileRobot_Software-Desktop_Qt_5_6_0_MinGW_32bit-Debug/
